1.Check and prepare data to clean and handling missing values and ensuring consistency.
3.Use Statistical methods to identify significant correlation/comparative/distribution/trending between variables from the data
4.Visualize the data with charts and graphs to see patterns and relationships (min.3 graph)
5.Use related python library to handle all of tasks 
6.Upload your source code with python extension file such as .py or .ipynb and file  .rawgraphs (if you visualized the data using rawgraphs)
7.Tomorrow some of you will present the result of your assignment

In [2]:

import pandas as pd

In [3]:
data = pd.read_csv('./orderdataset.csv' ,sep=';')
data.info()
# data = data.drop('order_id' ,axis = 1)
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               49999 non-null  object
 1   quantity               49999 non-null  int64
 2   product_id             49999 non-null  object
 3   price                  49999 non-null  int64
 4   seller_id              49999 non-null  object
 5   freight_value          49999 non-null  int64
 6   customer_id            49999 non-null  object
 7   order_status           49999 non-null  object
 8   purchase_date          49999 non-null  object
 9   payment_type           49999 non-null  object
 10  product_category_name  49999 non-null  object
 11  product_weight_gram    49980 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 4.6+ MB

,order_id,quantity,product_id,price,seller_id,freight_value,customer_id,order_status,purchase_date,payment_type,product_category_name,product_weight_gram
0,2e7a8482f6fb09756ca50c10d7bfc047,2,f293394c72c9b5fafd7023301fc21fc2,1489000,1554a68530182680ad5c8b042c3ab563,28000,08c5351a6aca1c1589a38f244edeee9d,shipped,05/09/2016,virtual account,fashion,1800.0
1,2e7a8482f6fb09756ca50c10d7bfc047,1,c1488892604e4ba5cff5b4eb4d595400,1756000,1554a68530182680ad5c8b042c3ab563,45000,08c5351a6aca1c1589a38f244edeee9d,shipped,05/09/2016,virtual account,automotive,1400.0
2,e5fa5a7210941f7d56d0208e4e071d35,1,f3c2d01a84c947b078e32bbef0718962,1707000,a425f92c199eb576938df686728acd20,174000,683c54fc24d40ee9f8a6fc179fd9856c,canceled,05/09/2016,e-wallet,toys,700.0
3,3b697a20d9e427646d92567910af6d57,1,3ae08df6bcbfe23586dd431c40bddbb7,3071000,522620dcb18a6b31cd7bdf73665113a9,154000,355077684019f7f60a031656bd7262b8,delivered,03/10/2016,e-wallet,utilities,300.0
4,71303d7e93b399f5bcd537d124c0bcfa,1,d2998d7ced12f83f9b832f33cf6507b6,3833000,25e6ffe976bd75618accfe16cefcbd0d,147000,b106b360fe2ef8849fbbd056f777b4d5,canceled,03/10/2016,e-wallet,fashion,500.0

In [4]:
data['seller_id'].nunique()
# data.drop('seller_id_num' , axis = 1 , inplace = True)

# Giving unique id to seller_id , order_id , product_id , customer_id
data['order_id'], unique = pd.factorize(data['order_id'])
data['product_id'], unique = pd.factorize(data['product_id'])
data['seller_id'], unique = pd.factorize(data['seller_id'])
data['customer_id'], unique = pd.factorize(data['customer_id'])

print(data['order_id'].nunique())
print(data['product_id'].nunique())
print(data['seller_id'].nunique())
print(data['customer_id'].nunique())

42694
16866
1777
42694

In [5]:
print(data.duplicated().unique())
print(data.isnull().sum())
data.head()

[False]
order_id                  0
quantity                  0
product_id                0
price                     0
seller_id                 0
freight_value             0
customer_id               0
order_status              0
purchase_date             0
payment_type              0
product_category_name     0
product_weight_gram      19
dtype: int64

,order_id,quantity,product_id,price,seller_id,freight_value,customer_id,order_status,purchase_date,payment_type,product_category_name,product_weight_gram
0,0,2,0,1489000,0,28000,0,shipped,05/09/2016,virtual account,fashion,1800.0
1,0,1,1,1756000,0,45000,0,shipped,05/09/2016,virtual account,automotive,1400.0
2,1,1,2,1707000,1,174000,1,canceled,05/09/2016,e-wallet,toys,700.0
3,2,1,3,3071000,2,154000,2,delivered,03/10/2016,e-wallet,utilities,300.0
4,3,1,4,3833000,3,147000,3,canceled,03/10/2016,e-wallet,fashion,500.0

2.Summaries the data with statistical analysis: Use descriptive statistics with aggregation function 
(i.e sum, count, average, min, max) for searching meaningful information such as: top product sales, total amount, average amount, etc

In [63]:
print(f"Order Details : {data['order_status'].value_counts()}")
print(f"Different type of payment : {data['payment_type'].value_counts()}")
print(f"Different type of category : {data['product_category_name'].value_counts()}")


print(f"Total Amount of sales: {data['price'].sum()}")
print(f"Average sales / order: {data['price'].mean()}")
totalsalesCategory = data.groupby('product_category_name')['price'].sum()
print(f"Totalsales / category : {totalsalesCategory}")
print(f"Average weight of product in gram: {data['product_weight_gram'].mean()}")

print(f"Category with maximum sales is {totalsalesCategory.idxmax()} with sales of {totalsalesCategory.max()}")
print(f"Category with minimum sales is {totalsalesCategory.idxmin()} with sales of {totalsalesCategory.min()}")

print(f"Average shipping cost of an order: {data['freight_value'].mean()}")

Order Details : order_status
delivered      48664
shipped          567
processing       270
canceled         267
invoiced         221
unavailable        7
approved           3
Name: count, dtype: int64
Different type of payment : payment_type
virtual account    12581
credit card        12498
debit card         12472
e-wallet           12448
Name: count, dtype: int64
Different type of category : product_category_name
toys           6375
electronics    6299
automotive     6286
fashion        6274
beauty         6225
gadget         6220
sports         6192
utilities      6128
Name: count, dtype: int64
Total Amount of sales: 130386588000
Average sales / order: 2607783.9156783135
Totalsales / category : product_category_name
automotive     16493552000
beauty         16272726000
electronics    16248782000
fashion        16433729000
gadget         16063418000
sports         16222582000
toys           16604282000
utilities      16047517000
Name: price, dtype: int64
Average weight of product in gram: 2201.830892356943
Category with maximum sales is toys with sales of 16604282000
Category with minimum sales is utilities with sales of 16047517000
Average shipping cost of an order: 104521.39042780855